
{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Activity</th>
        <th scope="col">Check Countdown</th>
        
      </tr>
    </thead>
    {% for activity in starting %} 
        <tbody>
        <tr>
            <td>{{activity.activity_name}}</td>
            <td><a href="{% url 'activity-countdown' activity.id %} ">Check On Count Down Timer</a></td>
          
           
          
        </tr>
        </tbody>
    {% endfor %}
  </table>

  {% endblock %}
